/* Google fonts "Sora" */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
.sora-fonts {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  .feactures-product{
    background-image: url('./images/vegetable-offer.png'), linear-gradient(to bottom right, #53DB3A, #FFFFFF);
  }